@charset "ISO-8859-1";

.form-group {
	margin: 0.51rem 0 0 0;
}

.lable {
	margin: 0 0 0 1rem;
	font-size: 1.5rem;
	color: black;
}

input[type="number"] {
	width: 5rem;
	font-size: 1.3rem;
	height: 1.5rem;
	border: 1px solid black;
	padding: 1px 0 0 4px;
	border-radius: 4px;
}

button {
	padding: 2px 8px 1px 12px;
	margin: 1rem 0 0 1rem;
	border: none;
	border-radius: 0.4rem;
	background-color: #28a745;
	color: white;
	font-size: 1.3rem;
	/* float:right; */
}

.submit-btn {
	margin: 0 0 0 1rem;
}

input[type="text"],.result_all_operation {
	font-size: 1.5rem;
	background-color: #EDEDED;
	border: 1px solid black;
	padding: 1px 0 0 8px;
	margin: 0.5rem 0 0 2rem;
	border-radius: 4px;
}
input[type="text"]{
	width: 18rem;
	height: 3rem;
}
.result_all_operation {
	width:auto;
	max-width:35rem;
	height:auto;	
	word-spacing:1rem;
}

.select {
	font-size: 1.33rem;
	width: 9rem;
	border: 1px solid blue;
	border-radius: 4px;
}

.select1 {
	margin-bottom: 0.5rem;
}

.result {
	font-size: 1.4rem;
}

@media ( max-width :686px) {
	.input_group {
		display: block;
		text-align: right;
	}
}

@media ( max-width :630px) {
	input[type="number"] {
		width: 3.5rem;
		padding: 1px 0 0 2px;
	}
	.lable {
		margin: 0 0 0 0.7rem;
		font-size: 1.4rem;
	}
	.input_group input[type="number"] {
		width: 5rem;
		padding: 1px 0 0 4px;
	}
}

@media ( max-width :485px) {
	.lable {
		margin: 0 0 0 0.2rem;
		font-size: 1.2rem;
	}
	.factorial_lable {
		font-size: 1.4rem;
		margin: 0 0 0 0.2rem;
	}
	input[type="number"] {
		width: 3rem;
		font-size: 1.3rem;
		height: 1.2rem;
		padding: 1px 0 2px 2px;
	}
	#factorial {
		width: 4rem;
		height: 1.5rem;
		font-size: 1.3rem;
	}
	input[type="text"] {
		width: 16rem;
		font-size: 1.4rem;
		height: 2.5rem;
		margin: 0.5rem 0 0 1rem;
	}
	.input_group input[type="number"] {
		width: 5rem;
		margin-top: 5px;
		padding: 1px 0 0 4px;
	}
}

@media ( max-width :390px) {
	.lable {
		font-size: 1.4rem;
	}
	.factorial_lable {
		font-size: 1.2rem;
	}
	#factorial {
		width: 4rem;
		height: 1.3rem;
		font-size: 1.2rem;
	}
	input[type="number"] {
		width: 5rem;
		height: 1.6rem;
		
	}
	button {
		margin: 1rem 0 0 0.5rem;
	}
}