@charset "ISO-8859-1";
* {
	padding: 0;
	margin: 0;
	font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Helvetica, Arial, sans-serif;
	text-decoration: none;
	list-style: none;
}
body{
	background-image: linear-gradient(to right, #c699ae, #c4e0e0, #a4e2a4, #e2e298);
}
#main {
	position: relative;
	top: 71px;
	left:13.1rem;
	min-height:84vh;
	width: calc(100vw - 14.1rem);
	box-sizing: border-box;
	overflow-wrap: break-word;
	white-space: normal;
	padding: 1rem 0 0 0.5rem;
	z-index: 0;
	/* background-image: linear-gradient(to right, #cff2c6, #b6f9f991, #fffca9b0, #aaa5ea7d); */
	/* background-image: linear-gradient(to right, #ded9db, #b4cccc, #b6c6b6, #d6d6b3); */
}

section{
	padding:0 0 15px 5px;
}
#home_page_image{
	 width: 100%;
	 height: 62vh;
	 object-fit:cover;
	 display: block;
}
#main.open{
	left:0;
	width:100%;
}
@media ( max-width :980px) {
	#main{
		left:0;
		width:100%;
		padding: 1rem 0 0 0.3rem;
	}
	#main.open{
		width: calc(100vw - 13rem);
		left:13rem;
	}
}
@media ( max-width :479px) {
	#main{
		padding: 1rem 0 0 0;
	}
	.section {
		padding: 15px 0 15px 0;
	}
	.section .links_box a {
		margin: 0.1rem 0.2rem 0 0.2rem;
		padding: 0.1rem;
		border-radius: 0.8rem;
	}
	#subject_bar {
		gap: 10px;
	}
	.subject_bar_itom {
		margin: 3px 6px 3px 4px
	}
}

@media ( max-width :375px) {
	.section .links_box a {
		width: 4rem;
		height: 4rem;
		font-size: 0.8rem;
	}
	.subject_bar_itom {
		font-size: 0.8rem;
		font-weight: bold;
	}
}

@media ( max-width :319px) {
	.section {
		gap: 1rem;
	}
	.section {
		gap: 1rem;
		justify-content: space-around;
		padding: 15px;
	}
}